.not-found-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  min-height: 100svh;
}

.not-found-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.erorr {
  text-align: center;
}
.not-found-description {
  text-align: center;
  max-width: 500px;
  margin-top: 0;
}

.home-button {
  background-color: white;
  color: #007bff;
  border: 1.5px solid #007bff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 9px;
  margin-top: 1rem;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .not-found-main {
    padding: 1rem;
  }
}
